# create here: https://dash.cloudflare.com/d7768a15e5f79520014a6d284bfad536/mlops-club.org/ssl-tls/origin
# create two .pem files in the repo root
# - tls-origin-cert.pem
# - tls-private-key.pem

# create here: https://dash.cloudflare.com/profile/api-tokens
# permissions: 
# - `Zone:Zone:Read` - Read zone information
# - `Zone:DNS:Edit` - Create and manage DNS records
# - `Account:Cloudflare Tunnel:Edit` - Create and manage tunnels
export CLOUDFLARE_API_TOKEN=...
# get here (right-hand sidebar): https://dash.cloudflare.com/d7768a15e5f79520014a6d284bfad536/mlops-club.org
export CLOUDFLARE_ACCOUNT_ID=...
export CLOUDFLARE_ZONE_ID=...

# create here: https://login.tailscale.com/admin/settings/trust-credentials
# permissions:
# - General > Services: write
# - Devices > Core: write
# - Keys > Auth Keys: write
# create a tag called `k8s-operator` and assign it to each of the permissions
export TAILSCALE_CLIENT_ID=...
export TAILSCALE_CLIENT_SECRET=...

export ACME_EMAIL=...
export DOMAIN=mlops-club.org