additionalArguments:
  - "--entrypoints.web.address=:80"
deployment:
  kind: Deployment
ingressClass:
  enabled: true
  isDefaultClass: false
  name: traefik-pub
service:
  enabled: true
  type: ClusterIP
ports:
  web:
    port: 80
    expose: true
    exposedPort: 80
    protocol: TCP
pilot:
  enabled: false
providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true

