---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: priv-wildcard
  namespace: traefik-private
spec:
  secretName: priv-wildcard-tls
  issuerRef:
    name: letsencrypt-cloudflare
    kind: ClusterIssuer
  dnsNames:
    - "*.priv.mlops-club.org"
    - priv.mlops-club.org
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"

